
    .first{
        display: flex;
        flex-direction: row;
        width: 100%;
        
        
        
    
    }
    .imgcol{
        background-color: aliceblue;
        flex-grow: 2;
        margin: 2px 2px;
        border-style: hidden;
        border-radius: 30px;
    }
    .text_col{
        flex-grow: 2;
        margin: 2px 2px 2px 2px;
    }
    .align_mid{
        text-align: center;
    }
    

